body {
    align-items: center;
    /* padding-top: 40px; */
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-post {
    max-width: 700px;
    padding: 15px;
}

.baseImage {
    width: 150px;
    height: 150px;
}

.remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.remove:hover {
    background: white;
    color: black;
}

.error {
    color: red;
    text-align: left;
}

input[type="file"] {
    display: block;
}

.imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}

.pip {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.modal-lg {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-height: 50% !important;
    max-width: 50% !important;
}
